/* Load Crimson Text from jgabc repository via jsDelivr CDN */
@font-face {
  font-family: "Crimson Text";
  src: url("https://cdn.jsdelivr.net/gh/bbloomf/jgabc@master/fonts/CrimsonText-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("https://cdn.jsdelivr.net/gh/bbloomf/jgabc@master/fonts/CrimsonText-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("https://cdn.jsdelivr.net/gh/bbloomf/jgabc@master/fonts/CrimsonText-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("https://cdn.jsdelivr.net/gh/bbloomf/jgabc@master/fonts/CrimsonText-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Versiculum";
  font-style: normal;
  font-weight: normal;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAn8AA4AAAAAEkwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABRAAAABwAAAAcc0/wCkdERUYAAAFgAAAAHQAAACAARAAET1MvMgAAAYAAAAA7AAAAYHmSKOhjbWFwAAABvAAAAH8AAAGaDGJ07Gdhc3AAAAI8AAAACAAAAAj//wADZ2x5ZgAAAkQAAAUBAAAJkLWTnchoZWFkAAAHSAAAAC8AAAA2CUBabWhoZWEAAAd4AAAAGwAAACQFYQI1aG10eAAAB5QAAAA2AAAAXBsQAABsb2NhAAAHzAAAABgAAAAwKAIptm1heHAAAAfkAAAAGAAAACAAGwErbmFtZQAAB/wAAAGLAAADuDm6iBZwb3N0AAAJiAAAAGwAAADIm7BxhXdlYmYAAAn0AAAABgAAAAZbWld2AAAAAQAAAADMPaLPAAAAANN2QWIAAAAA05wL2HjaY2BkYGDgA2IJBhBgYmAEQjEgZgHzGAAFPABJAAAAeNpjYGIMYJzAwMrAwqCBAU8woAJGZI5TZlEKgwMD7wMGZuP/xgwMTGUMZxiYIGqAbBBQYGAEAJMzCRUAeNpjYGBgZoBgGQZGBhCYAuQxgvksDBVAWopBACjCBWTxMigw6DEkMhQxlClwKegrxKv+ecDw/z9YF7IcA5Ic4/+v/x//v/Z/yf8p/yc+4Lj/5P7WW5IKYlC7cABGNga4AkYmIMGErgDiZARgYSAZsKILAC1lYGcYLAAAegkeuQAAAAAB//8AAnjahZW7chxFFIan79eZ6Z7p2dmrpL1Itgsj2dIaQQSBqILERfEQIiKEZ4A3oBxCxgs4IaSKxAQ8AEVMEZMCf+9qjSRbdvfWXma7T59z+v/OKWhR/PuMPCsuC1XEojg/PUvdYrlWp/P1k8VysUxnX7y4/PXsWxKXH1++uLz45iIuLhZFwbDvU/on/br4i0TyoCierM/fe9s8O+0HL+fVsyfre0f/z906zKt1XeqSkpiD/pWZ/1ku7h0tF9vPrQ83LC6Wea/sZPdy18Ya1i+v1rz0PMeL9dsdm13p9eec4zliyV6ebnbuTltv12ynWN+MemdFSVdZpzEsN8a5snTOGNZR6oTWQnDOGWcEb4Q7W9dGc0GosyE0MTbeM0uoNqW1hBAah8NBH4KSVbXnrLNWaaFxunYuVAJemMPZbBxDGHqpRr3RlPF8AOWiJDQ5JwUh1vrSO0kplRKbKbX4CUuUKuF9WwWlh02l8l7BGONajbRWSpsUYzdMKV/QT5QyUVUBw1AqqMoBSkk5hZdYmn+S57Bv4GPAaYrREEZt0yqZ4+VcKecb3XXj8d5sPEmdftQqL7EDfuDgcVlSP5muVuNxaJwT09gYxwWFfW5zDuG4lDHMZsfSmEF3dPjReDLp+za51jutxCZuroRg2CM4IhVIGBLrS+clDNGTvf02wb1hVRmrjVe4GKsEljRxMBiF1I6G+wf3KeECufbOq1prQxnTkjECLxn7BfeGe5FGNv0gpbrmhBIWkaPUph8jvEQWpUISrBrFWJbFjqXnYOkPYsj8Fkvb72s8W19Xdl6z1d9WX1eUbOZ1vu5k7NFrGLvF2U6x93Y27+bn6PoJWwZg9Q5S23TFzSse5v833qQuM5vuYkjKsrFOqHz7m5E/JW6lHWvl2qN2Pv/wbD4PR9ZUVR1svh0T6gjV2nnbGkjUZqDaEMqSGUKNLq2DFfDUD0KtVdMeNlCVRCANDvaMhTgdYoBFQu1GNFkzErgpwqz3uFto2hOmyrIqy1LqpolMcJEl4F0HKK0FSE3qR8N++r0Fz6GGkpVSUnMuZV31w4NQZrDJD0AXI6OioK4Qxk3bCrEpDwIlxEWV0nQ6n6/mHecRHmshBWfCA1FE5+LiZNKmstQ6B0+b0WhSxdBcHJ9M9+paT5tob+OjZAh7s2NlzWh8fPLZ4f5enzlPIXLCmDKCa53eAEgajQ8QftsOBm0yHsCDMxFWq3d6mYPgwmROcnHzoIJm7HEhyF2ubTVsCu5Z6SN4iaH0v72el9yzPqHf0a+K34u/iyKut/rYsbDT8tv7zPlp/4Yuc7t73STv1fOuzw011+euo7y9C93cd0TuIAAZqScQZJeaWoq+ylWSUKadrzvvhcxVHVmFxLznlpKNwNlO31I1zQoVXEI0nOWhkGO0D6t1FgVlRkNScNF3ZdlOBj1uEyXdjUJsmy6NVqhszBgoDgWeZUkqRSHN1uEOyd2AUKZ0WfbeAxFUZVOVY5ilABpitypu12zVTn7W0AjCgqqtgnpk7jmD2XR5PD8YIEoFEecewHYihhZzHZAxTjcyHg7fffg0Nk0IzqPnEWAd+348GaJp+Yj6nbsCBVQEr1y/qdDQpKzr1f7jx+9/fv9BZhDHMuuqumkaabR9OJ21jTWqvwaBU4I5G+OgHzWpm06XS1C2jz6GfOXOysU/X2aSEZCEXxkhiNkXBSl2A13gA/YfVCTREgAAAHjaY2BkYGAA4qtPlvrF89t8ZeBmYQCBy3O4byLo/x5ML5nKgFwOBiaQKABTOQu3AHjaY2BkYGAq+28CJF8yMIBJRgZUIA4AWycDmwB42mOSZ4ADRhEIzfQSiHcB8QygmDWQLkPQDJeAeC4QZ0KxPxDXAbEylAbKMX4BqgUyAXXvCSMAAHjaY2BgkIFBxkPMUSwH8MATLCcAAbUN/XjaY2BkYGAQZ9RiYGYAAUYGNAAABzYASHjaxVHNSkJREP7usT+FhEBcuDpEi2phGiVxV0UgFIKQUJs2V72ZpF3Lq9imB4ieoEUP0rJVf4to13v0AH1n7iklhNrFMMw3f9+cmQNgDm+IwZmIAxhQI+wgRS/CCklcWxxDATcWT2ABrxZPIoMPi6eQcpIWT+PQmbc4Du1cWpzAwLm1eBbLKm1xEmtq0+IHpFVo8SNy6sriJ8yoO4ufkVD3EX6PIaNesI0AHVzgHE00cIwQGouoYYl2FTnkKRpVVmhUmPXRp57S68MTu0eGAHVGs/S20KLoEb6ueD6tT2u666zcF6/Lqhp67OihTSafPcbzmBudFs0aTnLJOY7BHRvVP5iHNYFskOd7ciLjusczNmUvjxoy68mr2sJ+wliAoz/d67eK//qdCnZQYqbM6RFfUW5l5pfkEiZqegxHyCoXK5QuM4a7I8xZuVqLNmC0wXyZPCUcsK/KC30xRvcvSqfGrlxZS1wzvkFu8zcuN17/3rvAO/uUjnBHPzl8YwVnZGkyY3ZrfQJxz5QAAHjabc25EkFBAETRvvPw7EvkN8YwlpjyBwKhgCqJzO/jMR26VV0nbAX9er+E/jVvhoIqzXTQSWcCFS3adKjp0qPPgCEjxkyY1s/HPcUY7cImu7Qrm+3abuzW7uylmG7FXMzH/ddr8/cBAnokJAABV3ZbWQAA)
    format("woff");
}
.lyric-font {
  font-family: "Crimson Text", serif;
}
text.lyric,
text.dropCap,
text.annotation {
  -webkit-user-select: none;
  user-select: none;
}
body {
  color: #000;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-family: "Crimson Text", serif;
}

.description {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 14pt;
  max-width: 600px;
  margin-bottom: 1.5em;
}

/* Ensure SVGs display properly */
svg.Exsurge {
  display: block;
  overflow: visible;
}

.crimson {
  font-family: "Crimson Text", serif;
}

/* Chant labels (above chant SVG) */
.chant-label {
  display: block;
  font-family: "Crimson Text", serif;
  font-size: 14pt;
  color: #d00;
  margin-bottom: 0.25em;
}

.ita {
  font-style: italic;
}

.ml {
  margin-left: 16px;
}

.mr {
  margin-right: 16px;
}


/* Dynamic chant containers */
.chant {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
}
.chant svg {
  max-width: 100%;
  height: auto;
}

/* Proper text rendering in SVGs */
svg text {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Rubric (verse numbers, asterisks) styling - red color like online tool */
svg tspan.rubric,
svg text.rubric,
svg .rubric {
  font-weight: bold;
  fill: #d00 !important;
}
/* Red text in chant (verse numbers, asterisks) - NOT italic */
/* jgabc uses class "i" for <i> tags */
.i,
svg .i,
svg tspan.i,
svg text .i,
svg .goudy.i,
svg tspan.goudy.i,
tspan.i,
text .i,
.caeciliae .i,
g .i,
tspan[style*="italic"].i,
text tspan.i {
  fill: #f00 !important;
  color: #f00 !important;
  font-style: normal !important;
}

/* Style for divider and neume lines */
.dividerLine,
.neumeLine {
  shape-rendering: crispEdges;
}

/* Ensure proper spacing for chant elements */
.ChantNotationElement {
  overflow: visible;
}
.verses > p {
  hyphens: manual;
  line-height: 1;
  margin-bottom: 6pt;
  clear: right;
}
.verses > p > span {
  margin-bottom: 6pt;
  margin-top: 0;
}
.verses > p > span.versenum {
  color: #d00 !important;
  margin-bottom: 0;
  float: left;
  width: 1.5em;
  text-align: right;
}
.verses .versiculum {
  color: #d00 !important;
}
.open-on-hover > .dropdown-menu {
  margin: 0;
}
.open-on-hover:hover > .dropdown-menu {
  display: block;
}
.sans {
  font-family: Verdana, Helvetica, sans-serif;
}
.selected {
  fill: #e22;
}
.selected-1 {
  fill: url(#gradRedBlack);
}
.selected-2 {
  fill: url(#gradBlackRed);
}
tspan.selectable:hover {
  fill: #e22;
}
tspan.selectable {
  cursor: pointer;
}
.goudy tspan.selectable {
  cursor: initial;
}
.b {
  font-weight: 700;
}
.sb {
  font-weight: 600;
}
/* .i class for italic is handled by red styling rules above */
.sc {
  font-variant: small-caps;
}
.trans {
  font-size: 15px;
}
.versiculum {
  font-family: "Versiculum";
  font-variant: normal;
  font-style: normal;
  fill: #d00 !important;
  color: #d00 !important;
}
/* Red color for verse numbers and asterisks in psalm tones */
svg .v,
svg tspan.v,
.v {
  fill: #d00 !important;
  color: #d00 !important;
}
.caeciliae-print {
  font-family: "CaeciliaeStaffless-Print";
  font-size: 48px;
}
.goudy {
  font-family: "Crimson Text";
  font-size: 18px;
}
.choral-sign {
  font-family: "Crimson Text";
  font-size: 12px;
}
.greinitial {
  font-family: "Crimson Text";
  font-size: 60px !important;
}
.greannotation {
  font-family: "Crimson Text";
  font-size: 15px;
}
.lectio-text {
  font-family: "Crimson Text";
  font-size: 14pt;
}
label {
  font-weight: normal;
  margin-bottom: 0;
}
textarea {
  font: 12px system-ui;
}
input,
select {
  font-size: 11px;
  line-height: 1.2;
  margin: 1px;
}
select.small-screen {
  margin-top: 6px;
  margin-bottom: 6px;
}
text.dropCap {
  cursor: pointer !important;
}
text.dropCap:hover {
  fill: #d00 !important;
}
[part].show-gabc use[source-index]:hover,
#chant-preview.clickable use[source-index]:hover,
use[source-index].active {
  fill: #337ab7;
  filter: url(#note-glow);
}
use.active.porrectus-left {
  fill: url(#porrectus-left);
}
use.active.porrectus-right {
  fill: url(#porrectus-right);
}
[part].show-gabc text[source-index]:hover,
#chant-preview.clickable text[source-index]:hover,
text[source-index].active {
  fill: #337ab7;
  filter: url(#text-glow);
}
[part].show-gabc text[source-index][style*="fill:#f00;"]:hover,
[part].show-gabc
  text[source-index]:hover
  tspan[style="font-style:italic;"],
[part].show-gabc text[source-index]:hover [style*="fill:#f00;"],
#chant-preview.clickable text[source-index][style*="fill:#f00;"]:hover,
#chant-preview.clickable
  text[source-index]:hover
  tspan[style="font-style:italic;"],
#chant-preview.clickable text[source-index]:hover [style*="fill:#f00;"],
text[source-index][style*="fill:#f00;"].active,
text[source-index].active tspan[style="font-style:italic;"],
text[source-index].active [style*="fill:#f00;"] {
  fill: #337ab7 !important;
}
#chant-preview.clickable use[source-index],
#chant-preview.clickable text[source-index]:not(.dropCap) {
  cursor: pointer;
}

.btn-group-vertical > .btn-group {
  display: -webkit-flex;
  display: flex;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.chant-context .btn.disabled {
  opacity: 1;
}
span.start-pitch {
  display: inline-block;
  width: 65px;
}

#mediaControls.offscreen {
  transform: translateY(30px);
  opacity: 0;
}
#mediaControls {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  height: 30px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  width: 100%;
  min-width: 100%;
  z-index: 1;
  transform: translateY(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#mediaControls > * {
  margin: auto;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
#mediaControls > * > *:first-child {
  margin-left: 0;
}
#mediaControls > * > *:last-child {
  margin-right: 0;
}
#mediaControls .volume {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 4px 10px;
}
#mediaControls .volume > .progress {
  width: 100px;
  margin: 0 0 0 5px;
}
#mediaControls .btn.with-next {
  border-right: none;
  padding-right: 5px;
}
#mediaControls .btn.with-next + .btn {
  border-left: none;
  padding-left: 0;
}

.flex-0 {
  flex: 0 1 0;
}

.child-main {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .ss-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .ss-border-bottom {
    border-bottom: 1px solid #ddd;
  }
  .hide-ss {
    display: none !important;
  }
  .flex {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex > .child-main {
    -webkit-order: 1;
    order: 1;
    margin: 0 6px 6px 0;
  }
  .flex > .child-other {
    -webkit-order: 2;
    order: 2;
  }
  .right {
    float: none !important;
  }
  select,
  button:not(.btn) {
    font-size: 16px !important;
  }
  select.small-screen {
    font-size: 20px !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
  }
  .psalm-editor {
    line-height: 2;
  }
  button.toggle-mediant {
    font-size: 100%;
  }
}
/* Caeciliae font for neumes - from jgabc root directory */
@font-face {
  font-family: "Caeciliae Staffless";
  src: url("https://bbloomf.github.io/jgabc/Caeciliae-Staffless.ttf")
    format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "CaeciliaeStaffless";
  src: url("https://bbloomf.github.io/jgabc/Caeciliae-Staffless.ttf")
    format("truetype");
  font-display: swap;
}

@media screen {
  .caeciliae {
    font-family: "Caeciliae Staffless", "CaeciliaeStaffless";
    font-size: 48px;
  }
}
@media print {
  .caeciliae {
    font-family: "Caeciliae Staffless", "CaeciliaeStaffless";
    font-size: 48px;
  }
  .hide-print {
    display: none !important;
  }
  h1 {
    page-break-after: avoid;
    margin-bottom: 0.3em;
  }
  .chant-label {
    page-break-after: avoid;
  }
  .chant {
    page-break-before: avoid;
    margin-bottom: 0.2em;
  }

  /* Print page breaking for split chant lines */
  .chant-print-lines {
    display: block;
    page-break-inside: auto;
    break-inside: auto;
  }
  .chant-line {
    display: block;
    width: 100%;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    break-inside: avoid-page !important;
    -webkit-column-break-inside: avoid !important;
    page-break-after: auto;
    break-after: auto;
    margin-bottom: 0;
    -webkit-print-color-adjust: exact;
    position: relative;
    overflow: hidden;
  }
  .chant-line-svg {
    display: block;
    max-width: 100%;
    overflow: hidden !important;
  }
  .chant-line-svg {
    display: block;
    max-width: 100%;
  }
}

@media screen {
  /* Hide print containers on screen */
  .chant-print-lines {
    display: none;
  }
}
.btn-use-solesmes-lengths {
  margin-right: 2.5em;
}
@media screen and (min-width: 412px) {
  .parent-use-solesmes-lengths {
    position: relative;
    height: 30px;
  }
  .btn-use-solesmes-lengths {
    position: absolute;
    right: 0em;
  }
}

/* Translation controls */
#controls {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0.5em 0 1em;
  font-family: "Crimson Text", serif;
  font-size: 14pt;
}
#language-selector {
  font-family: "Crimson Text", serif;
  font-size: 14pt;
  padding: 0.1em 0.3em;
}

/* Translation text below chants */
.translation {
  display: none;
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 14pt;
  color: #555;
  margin: 0.3em 0 1.2em;
  white-space: pre-line;
}
body.show-translations .translation {
  display: block;
}

/* iOS Safari neume rendering fix for liquescent glyphs */
.ios-device .caeciliae {
  letter-spacing: -0.3px;
}
